body{
    margin: 0;
    padding: 0;
    background-color:black;
    height: 100vh;
    display: grid;
    place-items: center;
}

.sound-bars{
    display: flex;
    justify-content:center;
    align-content: flex-end;
    gap: 1rem;
}
.sound-bars span{
    width: 2rem;
    height: 60rem;
    border-radius: 1rem;
    background-color: red;
    background-color: #FF0000;
          content: '';
          animation: animated_bar 0ms -800ms linear infinite alternate;
          transform-origin: bottom;

          &:nth-of-type(1) {
            animation-duration: 354ms;

          }

          &:nth-of-type(2) {
            animation-duration: 429ms;
          }

          &:nth-of-type(3) {
            animation-duration: 377ms;
          }

          &:nth-of-type(4) {
            animation-duration: 438ms;
          }

          &:nth-of-type(5) {
            animation-duration: 391ms;
          }

          &:nth-of-type(6) {
            animation-duration: 455ms;
          }

          &:nth-of-type(7) {
            animation-duration: 401ms;
          }

          &:nth-of-type(8) {
            animation-duration: 473ms;
          }

          &:nth-of-type(9) {
            animation-duration: 380ms;

          }

          &:nth-of-type(10) {
            animation-duration: 449ms;
          }

          &:nth-of-type(11) {
            animation-duration: 407ms;
          }

          &:nth-of-type(12) {
            animation-duration: 489ms;
          }

          &:nth-of-type(13) {
            animation-duration: 491ms;
          }

          &:nth-of-type(14) {
            animation-duration: 495ms;
          }

          &:nth-of-type(15) {
            animation-duration: 401ms;
          }

          &:nth-of-type(16) {
            animation-duration: 473ms;
          }

          &:nth-of-type(17) {
            animation-duration: 354ms;

          }

          &:nth-of-type(18) {
            animation-duration: 429ms;
          }

          &:nth-of-type(19) {
            animation-duration: 377ms;
          }

          &:nth-of-type(20) {
            animation-duration: 438ms;
          }

          &:nth-of-type(21) {
            animation-duration: 391ms;
          }

          &:nth-of-type(22) {
            animation-duration: 455ms;
          }

          &:nth-of-type(23) {
            animation-duration: 401ms;
          }

          &:nth-of-type(24) {
            animation-duration: 473ms;
          }

          &:nth-of-type(25) {
            animation-duration: 380ms;

          }

          &:nth-of-type(26) {
            animation-duration: 449ms;
          }

          &:nth-of-type(27) {
            animation-duration: 407ms;
          }

          &:nth-of-type(28) {
            animation-duration: 489ms;
          }

          &:nth-of-type(29) {
            animation-duration: 491ms;
          }

          &:nth-of-type(30) {
            animation-duration: 495ms;
          }

          &:nth-of-type(31) {
            animation-duration: 401ms;
          }

          &:nth-of-type(32) {
            animation-duration: 473ms;
          }

          &:nth-of-type(33) {
            animation-duration: 354ms;

          }

          &:nth-of-type(34) {
            animation-duration: 429ms;
          }

          &:nth-of-type(35) {
            animation-duration: 377ms;
          }

          &:nth-of-type(36) {
            animation-duration: 438ms;
          }

          &:nth-of-type(37) {
            animation-duration: 391ms;
          }

          &:nth-of-type(38) {
            animation-duration: 455ms;
          }
        }

@keyframes animated_bar {
    0% {
      transform: scaleY(0.3);
      opacity: 0.3;
    }
    100% {
      transform: scaleY(0.75);
      opacity: 1;
    }
  }


.login-container{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  border: solid, rgb(194, 19, 19);
  padding: 2rem;
  height: 400px;
  width: 300px;
  border-radius: 2rem;
  }

.login-container h2{
  color: #fff;
  display: flex;
  justify-content: center;
}
.form-group{
  background-color: blue;
  height: 100px;
}
